---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { Title } from "../../components/title";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="pt-br">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-0N8W2XC6YE"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-0N8W2XC6YE");
    </script>
  </head>
  <body class="dark:bg-zinc-800 min-h-screen flex flex-col">
    <Header title={SITE_TITLE} />
    <main class="flex-grow">
      <div class="flex row w-full gap-4 items-center mb-4">
        <Title id="hello">Olá! 👋</Title>
        <img class="rounded-full w-16" src="/me.png" />
      </div>
      <p class="dark:text-white">Seja bem vindo ao meu blog!</p>

      <p class="dark:text-white">
        Sou um desenvolver mobile brasileiro, com +5 anos de experiência em
        desenvolvimento de software, com foco na criação de aplicativos com
        React Native. Também tenho uma forte experiência em desenvolvimento
        front-end web utilizando ReactJS e Next.js.
      </p>

      <p class="dark:text-white">
        Sou motivado pela oportunidade de construir produtos que influenciem
        positivamente os usuários e o mundo. Para mim, programar não é apenas
        uma profissão — é uma maneira de transformar ideias em soluções reais
        que fazem a diferença.
      </p>

      <p class="dark:text-white">
        Também tenho experiência prática com desenvolvimento back-end usando
        Node.js, além de Inteligência Artificial, em um projeto de processamento
        de imagens utilizando Python e técnicas de aprendizado de máquina.
      </p>

      <p class="dark:text-white">
        Ativamente compartilho meu conhecimento através do meu blog, acredito
        que colaboração e aprendizado contínuo são fundamentais para o
        crescimento e a inovação.
      </p>
    </main>
    <Footer />
  </body>
</html>
