html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

body {
    background-color:white;
    background-size: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    font-size: 30px;
    list-style: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 50px 0 0 0;
    text-align: center;
  }

  header .logo a {
    position: relative;
    top: 0px;
  }

  .stayconnect {
    font-family: BankGothic Lt BT, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: white;
    background: black;
    margin: 0;
    padding: 0;
  }

  .gabrielvarela {
    text-align: left;
    font-size: 80px;
    font-family: BankGothic Lt BT, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  .subtitulo {
    text-align: left;
  }

  .home {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
  }

  .hey {
    font-size: 60px;
    text-align: center;
  }

  #foto_perfil{
    width: 300px;
    display: block;
    margin: 44px auto 0 auto;
    border-radius: 100%;
  }

  section {
    text-align: center;
    padding: 8%;
  }

  section nav{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  section.description {
    background: rgb(58,58,58);
    background-size: 100%;
    color: rgb(255,255,255);
    margin-top: 400px;
    height: 900px;

  }

  section.features {
    background: black;
    padding: 8%;
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .features figure {
    display: inline-block;
    width: auto;
    margin: auto;
    padding: 25px;
    margin: 2px;
    position: relative;
    top: 0px;
  }

  .features figure img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
  }

  figure img:hover {
    opacity: 0.8;
    background: none;
    color: none;
  } 

  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul.topnav {
    font-size: 30px;
    list-style: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
  }

  ul.ulgear {
    display: grid;
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 5%;
    list-style-type: none;
  }

  li.logo {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 60px;
    list-style: none;
    font-family: BankGothic Lt BT, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: left;
  }

  section .mybutton {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #151D21;
    background: white;
    display: inline-flex;
    padding: 6px;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 8px;
    text-align: center;
  }
  
  section.content {
    margin-top: -12%;
    display: flex;
    justify-content: center;
  }

  div.contato{
    width: 100%;
    max-width: 500px;
  }

  form.form{
    display: flex;
    flex-direction: column;
  }

  input.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 16px;
    font-family: BankGothic Lt BT, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  textarea{
    height: 150px;
    font-family: BankGothic Lt BT, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  h5{
    font-family: BankGothic Lt BT, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  h3{
    font-family: BankGothic Lt BT, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

 li{
    display: inline-block;
    margin: 20px;
    padding: 0px;
    border: none;
  }

  li {
    float: right; 
  }

  li.closed {
    font-size: 25px;
    display: list-item;
    float: left;
    list-style: disc;
  }

  footer{
    background-color:white;
    background-size: 100%;
    color: black;
    font-size: 14px;
    padding: 0;
    margin: 0;
    text-align: center;
  }


  /*  PARA IMAGENS STAY CONNECTED */
a.imgstay:link{
  color: black;
  }
  /*Links visitados*/
  a.imgstay:visited{
  color: black;
  }
  /*Links Hover, quando passa o cursor sobre o link*/
  a.imgstay:hover{
  background: none;
  }
  /*Links Ativos, quando clicado*/
  a.imgstay:active{
  color: white;
  background: black;
  }

/*Links não visitados*/
    a{
        text-decoration: none;
        padding: 0px;
        border-radius: 8px;
    }
    a:link{
      color: black;
    }
/*Links visitados*/
    a:visited{
      color: black;
    }
/*Links Hover, quando passa o cursor sobre o link*/
    a:hover{
      color: white;
      background: black;
    }
/*Links Ativos, quando clicado*/
    a:active{
      color: white;
      background: black;
    }


/*----------------- Para a LOGO ---------------*/
    a.logo:link{
      color: black;
    }
/*Links visitados*/
    a.logo:visited{
      color: black;
    }
/*Links Hover, quando passa o cursor sobre o link*/
    a.logo:hover{
      color: black;
    }
/*Links Ativos, quando clicado*/
    a.logo:active{
      color: black;
    }