---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Title } from "../components/title";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-0N8W2XC6YE"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-0N8W2XC6YE");
    </script>
  </head>
  <body class="dark:bg-zinc-800 min-h-screen flex flex-col">
    <Header title={SITE_TITLE} />
    <ViewTransitions />
    <main class="flex-grow">
      <div class="flex row w-full gap-4 items-center mb-4">
        <Title id="hello">Hey! 👋</Title>
        <img class="rounded-full w-16" src="/me.png" />
      </div>
      <p class="dark:text-white">
        Welcome to my blog! <br />
      </p>

      <p class="dark:text-white">
        I'm a passionate Mobile Developer from Brazil with +5 years of
        experience in software development, focusing on creating high-quality
        mobile applications with React Native. I also have a strong background
        in front-end web development using ReactJS and Next.js.
      </p>

      <p class="dark:text-white">
        I’m driven by the opportunity to build impactful products that
        positively influence users and the world. For me, coding is not just a
        profession—it’s a way to transform ideas into real-world solutions that
        matter.
      </p>

      <p class="dark:text-white">
        I have hands-on experience with back-end development using Node.js, as
        well as Artificial Intelligence, particularly in an image processing
        project utilizing Python and machine learning techniques.
      </p>

      <p class="dark:text-white">
        I actively share my knowledge through my blog to help others in the
        developer community, believing that collaboration and continuous
        learning are key to growth and innovation.
      </p>
    </main>
    <Footer />
  </body>
</html>
