---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeToggle from './themeToggle';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { LanguagePicker } from './languagePicker';
import { useTranslatedPath } from '../i18n/utils';
import { Menu } from './menu';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header class="m-0 p-0 bg-white text-zinc-800 dark:bg-zinc-800 dark:text-slate-200">
	<nav class="flex justify-between items-center max-sm:h-20">
		<h2 class="text-base m-0 no-underline dark:text-white dark:hover:text-gray-200">
			<a class="flex no-underline active:no-underline px-2 py-4 border-b-4" href={translatePath("/")}>
				{SITE_TITLE}
			</a>
		</h2>
		<div class="internal-links max-sm:hidden">
			<HeaderLink href={translatePath("/")}>{t('nav.home')}</HeaderLink>
			<HeaderLink href={translatePath("/blog")}>{t('nav.blog')}</HeaderLink>
			<HeaderLink href={translatePath("/about")}>{t('nav.about')}</HeaderLink>
		</div>
		<div class="flex gap-3 border-zinc-700 border-solid border rounded-full py-2 px-4 shadow-inner dark:shadow-zinc-900 shadow-zinc-400">
			<ThemeToggle client:only />
			<LanguagePicker client:only />
			<Menu client:only />
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
